.feedContainer {
    width: 100%;
    min-height: 100vh;
    background-color: var(--site-bg-color);
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 6rem;
    /* grid-auto-rows: minmax(1fr, auto); */
    column-gap: 4rem;
}