.ratingContainer {
    padding: 0;
    border: none;
}

.ratingContainer legend {
    padding: 0;
    padding-bottom: 5px;
    margin: 0;
    font-size: 0.8rem;
    color: var(--review-title-color);
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.star {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}